<?xml version="1.0"?>
<ruleset>
    <!-- Check for cross-version support for PHP 8.1 and higher. -->
    <config name="testVersion" value="8.1-" />
    <!-- Check for correct text domain usage. -->
    <config name="text_domain" value="wceu-2025" />
    <file>./src</file>
    <file>./index.php</file>
    <!-- Use colors, and show sniff error codes and progress. -->
    <arg name="colors" />
    <arg value="sp" />
    <!-- Recommended Syde PHP Coding Standard rules. -->
    <rule ref="Syde-Extra" />
    <!-- PSR-4 namespace configuration. -->
    <rule ref="SlevomatCodingStandard.Files.TypeNameMatchesFileName">
        <properties>
            <property name="rootNamespaces" type="array">
                <element key="src" value="MyCompany\MyProject" />
            </property>
        </properties>
    </rule>
</ruleset>